<a href="https://colab.research.google.com/github/erikalira/introducao-a-ciencia-de-dados/blob/main/Exerccio___Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [ ]:
import pandas as pd

movies = pd.read_csv("movies.csv")

In [ ]:
movies.columns

Index(['Title', 'US Gross', 'Worldwide Gross', 'US DVD Sales',
       'Production Budget', 'Release Date', 'MPAA Rating',
       'Running Time (min)', 'Distributor', 'Source', 'Major Genre',
       'Creative Type', 'Director', 'Rotten Tomatoes Rating', 'IMDB Rating',
       'IMDB Votes'],
      dtype='object')

In [ ]:
movies.groupby('Major Genre').sum().sort_values(by='Worldwide Gross', ascending=False)

                         US Gross  Worldwide Gross  ...  IMDB Rating  IMDB Votes
Major Genre                                         ...
Adventure            2.861863e+10     6.608096e+10  ...       1592.6  11182880.0
Action               2.703124e+10     6.043561e+10  ...       2397.0  17908346.0
Comedy               3.087863e+10     5.038405e+10  ...       3717.2  14894832.0
Drama                2.306271e+10     4.047617e+10  ...       4998.8  21678623.0
Thriller/Suspense    9.660913e+09     1.926069e+10  ...       1482.1   8197929.0
Horror               7.773517e+09     1.332168e+10  ...       1186.3   5786875.0
Romantic Comedy      6.154528e+09     1.186665e+10  ...        763.5   2770706.0
Musical              2.291654e+09     3.904838e+09  ...        322.4   1053947.0
Western              9.364843e+08     1.301373e+09  ...        239.5    831120.0
Black Comedy         4.976890e+08     8.246719e+08  ...        218.2   1241869.0
Documentary          3.968759e+08     6.989444e+08  ...        258.9    358850.0
Concert/Performance  1.352530e+08     1.536220e+08  ...         25.3      7015.0

[12 rows x 8 columns]

R: O gênero mais lucrativo é Aventura

### Qual o diretor dirigiu mais filmes?

In [ ]:
movies.groupby('Director')['Director'].value_counts().to_frame('count').sort_values(by='count', ascending=False)

                                     count
Director          Director
Steven Spielberg  Steven Spielberg      23
Woody Allen       Woody Allen           16
Spike Lee         Spike Lee             15
Martin Scorsese   Martin Scorsese       15
Ridley Scott      Ridley Scott          14
...                                    ...
Mark Duplass      Mark Duplass           1
Martha Coolidge   Martha Coolidge        1
Mary Harron       Mary Harron            1
Mathieu Kassovitz Mathieu Kassovitz      1
Zak Penn          Zak Penn               1

[550 rows x 1 columns]

R: Steven Spielberg

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [ ]:
movies['Gross/Budget'] = movies['Worldwide Gross'] / movies['Production Budget']
movies.sort_values(by='Gross/Budget', ascending=False)[['Title','Gross/Budget']]

                    Title  Gross/Budget
2526  Paranormal Activity  12918.030200
2920            Tarnation   5330.339450
244           Deep Throat   1800.000000
603               Mad Max    498.750000
2758        Super Size Me    454.297969
...                   ...           ...
404         Hell's Angels           NaN
467           Intolerance           NaN
1025             Waterloo           NaN
1028                Wings           NaN
1271            Baby Mama           NaN

[3201 rows x 2 columns]

R: Atividade Paranormal